*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(172, 172, 172);
}

h1 {
    color: black;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
  }

#header{
    width: 100%;
    height: 100px;
    display: block;
    background-color:rgb(192, 192, 192);
    color: black;
    border: none;
    text-align: center;
    font-size: 50px;
    top: 0;
    cursor: pointer;
}

.navbutton{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    background-color:rgb(204, 201, 201);
    color: black;
    border: none;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.menubutton{
    width: auto;
    height: 20px;
    border-radius: 15px;
    background-color:rgb(204, 201, 201);
    color: black;
    border: none;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 10px 20px;
    cursor: pointer;
}

#sidebar{
    width: 190px;
    height: 100%;
    display: block;
    color: black;
    text-align: center;
    top: 0;
    left: 0;
}

#maincontainer{
    top:0;
    left:0;
    margin-left: 190px;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(226, 226, 226);
    display: block;
}

#buttoncontainer{
    text-align: center;
    margin-top: 20px;
    margin-right: 20%;
}

#contentcontainer{
    width: 100%;
    height: 100%;
    display: block;
    margin-top:40px;
    margin-right: 20%;
}

.speedtestlist{
    width: auto;
    height: 100%;
    padding: auto;
}