<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initai-scale="1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    <title>PyDNS</title>
</head>

<body>
    <div id="header">
        <h1>Python DNS server</h1>
    </div>
    <div id="maincontainer">
        <h2 style="width: 50%;">{{errormessage}}</h2>
        <div id="buttoncontainer"></div>
            <a class="menubutton" href="{{url_for('home')}}">Go to home page</a>
        <div id="contentcontainer"></div>
    </div>
</body>

</html>