<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initai-scale="1.0">
    <link rel="stylesheet" href="static/style.css">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
  <link rel="icon" type="image/png" href="static/icons/icon.png">-->
    <title>PyDNS</title>
</head>

<body>
    <h1>Python DNS server</h1>
    <div id="buttoncontainer">
        <a href="/configurations" class="bigbutton">Configurations</a>
        <a href="/statistics" class="bigbutton">Statistics</a>
    </div>
</body>

</html>