<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initai-scale="1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    <title>PyDNS</title>
</head>

<body>
    <div id="header">
        <h1>Python DNS server</h1>
    </div>
    <div id="sidebar">
        <div id="configbutton" class="navbutton">Configurations</div>
        <div id="statisticsbutton" class="navbutton">Statistics</div>
    </div>
    <div id="maincontainer">
        <div id="buttoncontainer"></div>
        <div id="contentcontainer"></div>
        <div id="testdiv"></div>
    </div>
    <script src="{{ url_for('static', filename = 'app.js')}}"></script>
</body>

</html>